/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #0C0C0C 0%, #0C0C0C 100%);
  color: #03A062;
}

.header {
  padding-left: 16px;
  padding-bottom: 2px;
  padding-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #03A062;
}
.header h1 {
  display: inline-block;
}

.rows {
    //background: #0C0C0C;
  background: linear-gradient(to bottom, #0C0C0C, #101010);
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  background: linear-gradient(to bottom, #0C0C0C, #0C0C0C);
  border-radius: 10px;
  box-shadow: 0 0px 20px #03A062;
  overflow: hidden;
}
.leaderboard h1 {
  padding: 12px 13px 18px;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.leaderboard ol {
  counter-reset: leaderboard;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 18px;
  left: 13px;
  width: 25px;
  height: 20px;
  line-height: 20px;
  color: #0C0C0C;
  background: #03A062;
  border-radius: 10px;
  text-align: center;
}
.leaderboard ol li p {
  font-size: 18px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #03A062;
}
.leaderboard ol li p::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}
.leaderboard ol li p span {
  color: rgba(255, 255, 255, 0.5);
}
.leaderboard ol li small {
  font-size: 18px;
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  padding-right: 15px;
  font-weight: bold;
}
.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03A06266;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.leaderboard ol li:hover::after {
  opacity: 1;
}
.leaderboard ol li:hover p::before, 
.leaderboard ol li:hover p::after {
  opacity: 1;
}