<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="10" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
  </head>
  <body>
    <div class="leaderboard">
      <div class="header">
        <i class="fas fa-crown"></i>
        <h1>Command & Control High Scores</h1>
      </div>
      <div class="rows">
        <ol>
          {% for player in player_list %}
          <li>
            <p>{{player.username}}<span>{{player.id}}</span></p>
            <small>{{player.score}}</small>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </body>
</html>
